.Container-stock-form {
  background-color: var(--bg-claro);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Container-stock-header {
    padding: 10px;
    border-top: 2px solid var(--border-green);
}

.Container-stock-content{
  border-top: 2px solid var(--border);
  padding: 10px;
}


