.Container-stock-form, .Container-stock-grid {
  background-color: var(--bg-claro);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Container-stock-header {
    padding: 10px;
    border-top: 2px solid var(--border-green);
}

.Container-stock-content{
  border-top: 2px solid var(--border);
  padding: 10px 0;
}

.cantidades-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cantidades-item {
  margin-bottom: 4px;
  border-bottom: 1px solid var(--border-green);
  padding-bottom: 4px;
  font-size: 0.9rem;
}

.cantidades-total {
  font-weight: bold;
}
